<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fe">

    +   <!-- 네트워크, 카메라, 오디오 권한 선언 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    +   <uses-permission android:name="android.permission.CAMERA"/>
    +   <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FE">

        <!-- 1) 런처: 로그인 화면 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2) 로그인 후 첫 화면: 홈 -->
        <activity android:name=".HomeActivity" android:exported="false" />

        <!-- 3) 메인 기능(스트리밍) 화면 -->
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- 4) 운동 기록 확인 화면 -->
        <activity android:name=".HistoryActivity" android:exported="false" />

        <!-- (필요 시) 회원가입 화면 -->
        <activity android:name=".RegisterActivity" android:exported="false" />

        <activity android:name=".UploadActivity" android:exported="false"/>
    </application>
</manifest>
